@using AspNetCoreIdentityApp.Web.ViewModels
@{
    ViewData["Title"] = "Index";
}
@model UserViewModel
    <h1>Kullanıcı Bilgileri</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <user-picture-thumbnail picture-url="@Model.PictureUrl" class="rounded" style="width:300px"></user-picture-thumbnail>
        </div>
    </div>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Kullanıcı adı</th>
                        <th>Email</th>
                        <th>Telefon Numarası</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.UserName</td>
                        <td>@Model.Email</td>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

